{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <style>
        a {
            text-decoration : none;
            color : blue;
        }
        #logo {
            display: inline-block;
            width: 80px;
            height: 60px;
            text-indent:-9999px;
            background-image: url(../../../../../static/Kubernetes_logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 10px;
        }
    </style>
    <title>따당쿠 게시판</title>
</head>
<body>
<!-- 내비게이션바 -->
{% include "navbar.html" %}
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>
<!-- 자바스크립트 Start -->
{% block script %}
{% endblock %}
<!-- 자바스크립트 End -->
</body>
</html>